.item-link-tree-tab {
  display: flex;
  flex-direction: column;
}

.item-link-tree-warnings {
  flex: 1 0 auto !important;
}

.item-link-tree-items-list {
  height: 100%;
}

.item-link-tree-item-detail {
  text-align: center;
  font-size: 12px;
}

.item-link-tree-item-controls {
  border-left: 1px solid #c9c7b8;
}
