.item-link-tree-tab {
  display: flex;
  flex-direction: column;
}

.item-link-tree-warnings {
  flex: 1 0 auto !important;
}

.item-link-tree-items-list {
  height: 100%;
}

.item-link-tree-item-detail {
  text-align: center;
  font-size: 12px;
}

.item-link-tree-item-controls {
  border-left: 1px solid #c9c7b8;
}

.dnd5e.sheet.item .item-leaf-drag-content {
  height: 70px;
  text-align: center;
  color: #828180;
  line-height: 5;
  border: 2px #828180 dashed;
}

.dnd5e .items-list .ilt-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.dnd5e .items-list .ilt-controls a {
  font-size: 12px;
  text-align: center;
}
